@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

* {    
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: linear-gradient(0deg, rgba(194,194,194,1) 0%, rgba(255,255,255,1) 100%);
    color: black;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    box-shadow: -1rem 0 3rem #000;
    border-radius: 10px;
}

header h3, header h1 {
    font-weight: 600;
}

header img {
    width: 4vw;
}

.login-avatar {
    width: 1.5vw;
    position: absolute;
    top: 2vh;
    right: 1.5vw;
}

.top-corner:hover {
    opacity: 0.6;
}

.middle {
    min-width: 100%;
    min-height: 100%;
    background-image: url('/public/images/cave-background.jpg') no-repeat center contain;
}

.username {
    position: absolute;
    top: 0.8vh;
    right: 3.5vw;
    color: black;
}

.navigation {
    width: 100%;
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: black;
    height: 7vh;
    width: 60%;
}

.navigation nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.25em;
    background:
    linear-gradient(
      to right,
      black,
      black
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.navigation a:hover {
    background-size: 0 2px, 100% 2px;
}

.shop {
    width: 100%;   
    display: flex;
    justify-content: space-around;
    padding-bottom: 10vh;
}

.legend {
    background: linear-gradient(0deg, rgba(194,194,194,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    height: fit-content;
    width: 10vw;
    display: flex;
    position: relative;
    float: left;
    line-height: 4vh;
}

.legend ul {
    list-style-type: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    max-width: 75vw;
    column-gap: 5vw;
    row-gap: 5vw;
}

.product {
    position: relative;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    background: linear-gradient(0deg, rgba(194,194,194,1) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    line-height: 1vh;
    transition: transform 1s;
}

.product:hover {
    transform: scale(1.05);
    transition: 0.4s ease-out;
}


.productButton {
    width: 5vw;
    height: 3vh;
}

.buyLink {
    margin: auto;
}

.product img {
    height: 12vw;
    object-fit: contain;
}

.product h3 {
    font-weight: 300;
}

img {
    width: 12vw;
}

.footer {
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    width: 100%;
    padding: 3vh 15%;
    background: linear-gradient(0deg, rgba(48,48,48,1) 0%, rgba(105,105,105,1) 100%);
    color: white;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 4vh;
    letter-spacing: 1px;
}

.col-1 a, .col-3 a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 1vh;
}

form input {
    width: 20vw;
    height: 5vh;
    border-radius: 4px;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 6vh;
    outline: none;
    border: none;
}

.inputBars {
    font-weight: 600;
}

form button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 1vh 1vw;
    cursor: pointer;
}